// Size

.thumbnail-xs {
	border-radius: 100%;
	height: 25px;
	width: 25px;
}

.thumbnail-s {
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

.thumbnail-m {
	border-radius: 100%;
	height: 35px;
	width: 35px;
}

.thumbnail-l {
	border-radius: 100%;
	height: 40px;
	width: 40px;
}

.thumbnail-xl {
	border-radius: 100%;
	height: 45px;
	width: 45px;
}

.thumbnail-2xl {
	border-radius: 100%;
	height: 55px;
	width: 55px;
}

.thumbnail-3xl {
	border-radius: 100%;
	height: 65px;
	width: 65px;
}
