:root {
	/* colors */
	--primary: #354756;
	--secondary: #dd678f;
	--tertiary: #84a5a8;
	--background-color: #ebf1f1;
	/* font color */
	--font-color-light: #bec1c4;
	--font-color-dark: #707070;
	--font-color-title: #354756;
	/* font */
	--font-family: "Raleway", sans-serif;
	/* min-width and max-width */
	--min-width: 350px;
	--max-width: 1800px;
}
